.container .title {
  color: #fff;
  font-size: 2.5rem;
  text-align: center;
  margin: 2rem 0 1rem;
  justify-content: center;
  padding: 2rem;
}

.games-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}
  
